@model GRMMVCUserInterface.Models.ProductsViewModel

@{
    ViewBag.Title = "Sales Page";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#SelectedAvailableProducts').removeAttr('multiple');
        $('#btnAddToCart').attr('disabled', true);
        $('#btnRemoveFromCart').attr('disabled', true);

        if (parseInt($('#Total').val()) > 0) {
            $('#btnCheckOut').attr('disabled', false);
        }
        else {
            $('#btnCheckOut').attr('disabled', true);
        }
       
        $("#SelectedProductsAddedToCart").change(function () {
            $('#btnRemoveFromCart').attr('disabled', false);   
        });

        $('#Quantity').change(function (event) {
            var ProductId = $('#SelectedAvailableProducts').val();
            $.ajax({
                    url: '@Url.Action("GetSelectedProductDetails", "RetailManagement")',
                    type: 'GET',
                    data: { productId: ProductId },
                    dataType: 'json',
                    success: function (data) {
                        if (parseInt($('#Quantity').val()) <= data.quantity) {
                            $('#btnAddToCart').attr('disabled', false);
                        }
                        else {
                            $('#btnAddToCart').attr('disabled', true);
                        }
                    },
                    error: function (jqXHR) {
                        alert(jqXHR.responseText);
                    }
            });
        });        
    });
</script>

<div style="font-family:Arial">
    <h2>Sales Page</h2>
    @using (Html.BeginForm())
    {
        <div>
            @Html.EditorFor(m => m.ProductsAddedToCartString, Model.ProductsAddedToCartString, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <table class="table" border="1">
            <tr>
                <th style="width: 33.33%">
                    <h3>Items</h3>
                </th>
                <th style="width: 33.33%">
                </th>
                <th style="width: 33.33%">
                    <h3>Cart </h3>
                </th>
            </tr>
            <tr>
                <td style="width: 33.33%">
                    @Html.ListBoxFor(m => m.SelectedAvailableProducts, Model.AvailableProducts, new { size = 8 })
                </td>
                <td style="width: 33.33%">
                    <table class="table" border="1">
                        <tr>
                            <td> @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-md-10">
                                    @Html.EditorFor(m => m.Quantity, Model.Quantity.ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" id="btnAddToCart" value="AddToCart" class="btn">Add To Cart</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" id="btnRemoveFromCart" value="RemoveFromCart" class="btn">Remove From Cart</button>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 33.33%">
                    @Html.ListBoxFor(m => m.SelectedProductsAddedToCart, Model.ProductsAddedToCart, new { size = 8 })
                </td>
            </tr>
            <tr>
                <td style="width: 33.33%">
                </td>
                <td style="width: 33.33%">
                </td>
                <td style="width: 33.33%">
                    <table class="table" border="1">
                        <tr>
                            <td>@Html.LabelFor(model => model.SubTotal, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.EditorFor(m => m.SubTotal, Model.SubTotal.ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SubTotal, "", new { @class = "text-danger" })
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.Tax, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Tax, Model.Tax.ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Tax, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Total, Model.Total.ToString(), new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button id="btnCheckOut" value="CheckOut" type="submit" class="btn">Check Out</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }
    @*<table class="table" border="1">

        </table>*@
</div>

